

.front{
    -fx-background-color: linear-gradient(to bottom, #0f004f, #00337C);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 30, 0, 0, 0);
}

.front2{
    -fx-background-color: linear-gradient(to bottom, #cecece,#EEEEEE);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 15, 0, 0, 0);
}

.back{
    -fx-background-color: linear-gradient(to bottom, #cecece,#EEEEEE);
}

.racket{
    -fx-background-color: #ffffff;
}

.mark-field{
    -fx-border-width: 0 0 0 0;
    -fx-text-fill: #ffffff;
}

.moneyPane{
    -fx-background-color: transparent;
    -fx-border-color: #ECECEC;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.moneyPane:hover{
    -fx-background-color: rgba(122, 122, 122, 0.26);
}

.fontTxt{
    -fx-font-family: "Consolas";
}

.selectButton{
    -fx-background-color: #00337C;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 12 pt;
    -fx-font-weight: bold;
    -fx-font-family: "Consolas";
    -fx-cursor: hand;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 0, 0, 0, 3);
}

.selectButton:hover{
    -fx-background-color: rgba(122, 122, 122, 0.26);
}
